.editor,
.highlighter {
  @apply absolute top-0 left-0;
  @apply w-full h-full;
  @apply overflow-auto;
  @apply font-mono text-xs leading-normal;

  @apply pt-0 pb-12 pl-5 pr-3;
}

.editor {
  @apply text-transparent bg-transparent border-none resize-none;
  @apply focus:outline-none focus:ring-0;
  @apply cursor-auto;

  caret-color: black;
}

.highlighter::-webkit-scrollbar {
  display: none;
}

.editor::-webkit-scrollbar {
  @apply w-1.5;
  @apply h-1.5;
}

.editor::-webkit-scrollbar-track {
  background-color: transparent;
}

.editor::-webkit-scrollbar-thumb {
  background-color: theme("colors.gray.300");
}

.editor::-webkit-scrollbar-thumb:hover {
  background-color: theme("colors.gray.400");

  @apply cursor-pointer;
}

.highlighter code {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;

  --code-text-highlight: black;
}

.highlighter code span {
  color: var(--code-text-highlight);
}

.token-keyword {
  --code-text-highlight: theme("colors.pink.600");
}

.token-string {
  --code-text-highlight: theme("colors.green.600");
}

.token-number {
  --code-text-highlight: theme("colors.blue.600");
}

.token-operator,
.token-semicolon {
  --code-text-highlight: theme("colors.gray.900");
}

.token-unknown {
  --code-text-highlight: theme("colors.orange.600");
}
