.fieldSvgTraj {
  @apply opacity-40;
}

.fieldSvgTraj.active {
  @apply opacity-100;
}

.fieldSvgTraj .mainPath {
  opacity: 1;

  stroke-linecap: round;

  stroke-width: 0.5;

  stroke-dasharray: 2;

  @apply transition-all;
}

.fieldSvgTraj.active .mainPath {
  stroke-dasharray: none;
  stroke-width: 1;
}

.fieldSvgTraj:hover {
  opacity: 1;
}

.fieldSvgTraj .outline {
  stroke-width: 3;
  stroke-dasharray: none;
  stroke-linecap: round;

  opacity: 0;

  @apply transition-opacity;
}

.fieldSvgTraj:hover .outline {
  opacity: 0.3;
}

.fieldSvgWait {
  /* stroke: pink; */
  @apply text-gray-500;
  @apply opacity-70;
  @apply fill-current;
}

.fieldSvgTurn {
  opacity: 0.3;

  @apply transition-opacity;
}

.fieldSvgTurn.active {
  opacity: 1;
}

.fieldSvgTurn .arc {
  fill: none;
  stroke-width: 0.5;

  @apply text-purple-500;
  @apply stroke-current;

  stroke-linecap: round;
}

.fieldSvgTurn .arrowHead {
  @apply text-purple-500;
  @apply stroke-current;
  @apply fill-current;

  /* stroke-width: 0.5; */
  stroke: none;
}
