.code-editor {
  position: relative;
}

.code-editor .highlighting,
.code-editor .editing {
  padding: 10px;
  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;

  overflow: auto;

  font-size: 1rem;
  font-family: monospace;
  line-height: 1.4;
}

.code-editor .editing {
  z-index: 1;

  color: transparent;
  background: transparent;
  caret-color: black;

  resize: none;
}

.code-editor .editing:focus {
  outline: none;
}

.code-editor .highlighting {
  z-index: 0;
}

.code-editor .highlighting code {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;

  --code-text-highlight: black;
}

.code-editor .highlighting code span {
  color: var(--code-text-highlight);
}

.token-keyword {
  --code-text-highlight: red;
}

.token-string {
  --code-text-highlight: green;
}

.token-number {
  --code-text-highlight: blue;
}
