.code-editor {
  position: relative;
}

.code-editor .editing {
  color: transparent;
  background: transparent;
  caret-color: black;

  resize: none;
}

.code-editor .editing:focus {
  outline: none;
}

.code-editor .highlighting {
}

.code-editor .highlighting code {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;

  --code-text-highlight: black;
}

.code-editor .highlighting code span {
  color: var(--code-text-highlight);
}

.token-keyword {
  --code-text-highlight: theme("colors.pink.600");
}

.token-string {
  --code-text-highlight: green;
}

.token-number {
  --code-text-highlight: theme("colors.blue.600");
}

.token-operator,
.token-semicolon {
  --code-text-highlight: theme("colors.gray.900");
}

.token-unknown {
  --code-text-highlight: theme("colors.orange.600");
}
