.title {
  @apply absolute top-0;
  @apply font-extrabold tracking-wide;
  @apply text-blue-700 text-opacity-80;
}

.title.sm {
  @apply text-xl translate-y-[-1.12rem];
  @apply left-3;
}

.title.md {
  @apply text-2xl translate-y-[-1.3rem];
  @apply left-6;
}

.title.lg {
  @apply text-3xl translate-y-[-1.48rem];
  @apply left-6;
}

.slider {
  @apply w-full;

  @apply bg-blue-500;
  @apply h-2 outline-none appearance-none;

  @apply cursor-pointer pointer-events-auto;
}

.slider::-webkit-slider-thumb {
  @apply appearance-none;

  @apply w-3 h-3 hover:w-4 hover:h-4;
  @apply ring-offset-2 ring-offset-blue-50 ring-blue-300 ring-opacity-0 ring-2 hover:ring-opacity-70;

  @apply bg-blue-500;
  @apply transition-all rounded-full;
}

.timeIndicator {
  @apply grid place-items-center;

  @apply absolute top-0;
  @apply transition-transform;

  @apply text-gray-400 tabular-nums;
  @apply font-semibold text-opacity-80;

  grid-template-columns: 1fr 0.7rem 1fr;
}

.timeIndicator.sm {
  @apply text-lg;
  @apply right-3;
  @apply translate-y-[-1.17rem] hover:translate-y-[-1.35rem];
}

.timeIndicator.md {
  @apply text-2xl;
  @apply right-6;
  @apply translate-y-[-1.38rem] hover:translate-y-[-1.7rem];
}

.timeIndicator.lg {
  @apply text-2xl;
  @apply translate-x-1/2 right-1/2;
  @apply translate-y-[-1.38rem] hover:translate-y-[-1.7rem];
}
